Django==6.0.3
djangorestframework==3.18.0
django-cors-headers==4.9.0
psycopg2-binary==2.9.12
django-rest-passwordreset==1.6.0
django-redis==5.4.0
redis==5.0.0
django-debug-toolbar==4.2.0
sentry-sdk==1.40.0
python-dotenv==1.2.3
Pillow==12.3.0
xhtml2pdf==0.2.18
gunicorn==23.0.0
dj-database-url==2.3.0
whitenoise==6.8.2
django-storages==1.14.6
boto3==1.43.89